.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;

  /* выше установили ограничения для секции */
}
.logo__place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  width: 228px;
  height: 32px;
  margin-top: 30px;
  margin-left: 64px;
}
.header__title {
  display: flex;
  align-items: center;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  margin-left: 64px;
}
.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.link {
  text-decoration: none;
}
.link:visited {
  color: #2f80ed;
}
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}
.description {
  display: flex;
  justify-content: center;

  padding-top: 100px;
}
.two-columns {
  display: flex;
  width: 80%;

  justify-content: space-between;

  margin: 0 auto;
}
.two-columns_main-text {
  min-width: 784px;
  width: 80%;
}
.two-columns_brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
}
.two-columns_paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns_paragraph:not(:last-child) {
  margin-bottom: 30px;
}
.two-columns_span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  display: block;
  width: 60%;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.section-subtitle {
  margin-top: 20px;
  display: block;
  width: 60%;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: space-between;
}
.table__cell {
  width: 250px;

  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


.feynman {
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
}
.feynman__title {
  display: block;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin: auto;
  margin-bottom: 70px;
  text-align: center;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}
.feynman__subtitle {
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 0;
}

.feynman__image {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.feynman__link {
  top: 50%;
  display: flex;
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-items: center;
  z-index: 1;
}

.kaufman {
  color: white;
  margin-bottom: 0;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark {
  display: block;
  width: 60%;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 2;
}
.section-subtitle_theme_dark {
  margin-top: 20px;
  display: block;
  width: 60%;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 1;
}
.table_theme_dark {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: space-between;
}
.table__cell_theme_dark {
  width: 200px;
  z-index: 1;
  margin-top: 80px;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text_theme_dark {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman_triangle {
  position: absolute;
  right: -210px;
  top: 0;
}
.footer {
  position: relative;

  background-color: #1f1f1f;

  min-height: 350px;
  color: #f2f2f2;
}
.logo__place_footer{
  display: inline-block;

}
.footer__column__content_copyright {
  flex-basis: 711px;
}
.footer__columns {
  display: flex;
  position: absolute;

  width: 90%;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;


  top: 60px;
  bottom: 40px;
}
.footer__author {
  margin: 0;
  position: absolute;
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_info{
  display: flex;
 flex-basis: 50%;

  justify-content: space-around;
  position: relative;


}
.footer__column__content_info{
  position: absolute;


  height: 100%;
}
.footer__column-heading{
  margin-top: 0px;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column__content_social{
  position: absolute;
  right:0;
}
.footer__column-link{
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
 margin-left:0px;
 display: block;
 text-decoration: none;




}

